# Chaves do Pagar.me (modo TESTE)
PAGARME_SECRET_KEY=sk_test_SUA_CHAVE_SECRETA_AQUI
PAGARME_PUBLIC_KEY=pk_test_SUA_CHAVE_PUBLICA_AQUI

# Django
DJANGO_SECRET_KEY=troque-por-uma-chave-secreta-segura
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.ngrok-free.dev,.ngrok.io
